.NavItem {
	padding: 12px 16px;
	text-decoration: none;
	display: flex;
	align-items: center;
	color: #78797a;
	margin-right: 20px;
	&:hover {
		background-color: #e9ecf1;
		border-radius: 0px 8px 8px 0px;
		cursor: pointer;
		color: #0746a6;
		a {
			color: #0746a6;
		}
	}

	a {
		text-decoration: none;
		color: #78797a;
		font-size: 0.8em;
	}
}
