.Quote {
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.ImportButton {
	font-size: 10px;
	font-weight: 500;
	color: #81868c;
	padding: 4px 13px;
	border: 1px solid #81868c;
	box-sizing: border-box;
	border-radius: 12px;
	background-color: transparent;
}
